# For statement excersice

## 1. Count numbers

In [3]:
# 1a
for i in range(-10, 10):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [7]:
# 1b
for i in range(-10, 10, 2):
    print(i, end=" ")

-10 -8 -6 -4 -2 0 2 4 6 8

## 2. Arithmetic sum

In [9]:
# 2a
sum = 0
for i in range(100):
    sum += i
print(sum)

4950

In [13]:
# 2b
sum = 0
for i in range(1, 100, 2):
    sum += i
print(sum)

2500

# 3. Multiplication table

In [20]:
# 3a
for i in range(11):
    print(f"{6*i}", end = " ")

0 6 12 18 24 30 36 42 48 54 60

In [37]:
# 3b
table = int(input("Table?"))
start = input("Start?")
end = input("End?")

for i in range(int(start), int(end)):
    temp = table * i
    print(f"{temp}", end = " ")

10 15 20 25 30 35

In [50]:
# 3c
for i in range(11):
    for j in range (11):
        print(f"{i*j}", end = "\t")
    print()

0	0	0	0	0	0	0	0	0	0	0
0	1	2	3	4	5	6	7	8	9	10
0	2	4	6	8	10	12	14	16	18	20
0	3	6	9	12	15	18	21	24	27	30
0	4	8	12	16	20	24	28	32	36	40
0	5	10	15	20	25	30	35	40	45	50
0	6	12	18	24	30	36	42	48	54	60
0	7	14	21	28	35	42	49	56	63	70
0	8	16	24	32	40	48	56	64	72	80
0	9	18	27	36	45	54	63	72	81	90
0	10	20	30	40	50	60	70	80	90	100

## 4. Faculty

In [62]:
n = int(input("Input n!"))
sum = 1

for i in range(n):
    sum *= i+1
    print(i)
print(sum)

0
1
2
3
24

## 5. Guess the number

In [71]:
import random as rnd

number = rnd.randint(1000, 9999)

for i in range(1000, 9999):
    if i == number:
        print(i, number)
        break

2570 2570

## 6. Rice on chessboard

In [79]:
sum = 0
for i in range(64):
    sum += 2**(i)
print(sum)

18446744073709551615